/*  your css code here. If applicable */
#verification_heading{
	text-align:center;
}

#verification_subtext{
	text-align:center;
}

.code-container{
	text-align:center;
}
.code{
	width:40px;
	height:40px;
	cursor:pointer;
	border-radius:3px;
	border:0.1px solid gray;
}